body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #E5D9B6;
}

.navigation-bar {
    overflow: hidden;
    background-color: #749F82;
    margin: -8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 2px solid transparent;
}

.navigation-bar a {
    float: left;
    color: #FFECEF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navigation-bar a:hover {
    background-color: #FFCACA;
    color: #749F82;
  }

  .navigation-bar a:hover {
    border-bottom: 3px solid #665A48;
  }
  

  .title-style {
    color: #665A48;
    text-align: center;
  }

 .productTitle {
    color: #665A48;
 }

 .infoProducts{
    text-align: center;
 }